/ - provide(:title, 'Edit User')
/ - provide(:leave_password_title, "Leave Passwords fields blank if you don't want to change it")
/ - provide(:delete_account_title, "Danger zone!")
/ - provide(:button, 'Save')

= render 'admin/merchants/partials/form'
